body{

margin:0;

font-family:"Comic Sans MS", Arial;

background:#fff8dc;

text-align:center;

}



header{

background:linear-gradient(
135deg,
#ff9a9e,
#fad0c4
);

padding:30px;

display:flex;

justify-content:center;

align-items:center;

gap:40px;

color:white;

}



header h1{

font-size:45px;

margin:0;

}



header p{

font-size:22px;

}



.maskot{

font-size:100px;

animation:loncat 2s infinite;

}



@keyframes loncat{


50%{

transform:translateY(-20px);

}


}





.welcome{


background:white;

margin:30px auto;

padding:30px;

width:70%;

border-radius:30px;

box-shadow:0 10px 20px #ddd;


}



.welcome h2{

color:#ff7096;

}



button{

background:#4cc9f0;

border:none;

padding:12px 25px;

border-radius:30px;

font-size:18px;

color:white;

cursor:pointer;


}



button:hover{

background:#0077b6;

}




.judul-menu{

color:#ff477e;

}





.menu{


display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

padding:20px;


}




.card{


width:220px;

background:white;

border-radius:30px;

padding:25px;

box-shadow:0 8px 15px #ddd;


transition:.3s;


}



.card:hover{

transform:translateY(-15px);

}




.icon{


font-size:70px;


}




.huruf{

border-top:15px solid #ff70a6;

}



.angka{

border-top:15px solid #70d6ff;

}



.warna{

border-top:15px solid #ffd670;

}



.hewan{

border-top:15px solid #b8f2e6;

}



.game{

border-top:15px solid #cdb4db;

}




footer{


background:#90dbf4;

padding:25px;

margin-top:30px;

font-size:20px;


}

.huruf-container{


display:flex;

justify-content:center;

gap:30px;

flex-wrap:wrap;

margin:40px;


}



.huruf-card{


background:white;

width:250px;

padding:30px;

border-radius:35px;

box-shadow:0 10px 20px #ddd;

animation:muncul 1s;


}



.huruf-card h1{


font-size:80px;

color:#ff477e;


}



.gambar{


font-size:90px;


}



.huruf-card:hover{


transform:scale(1.1);


}




@keyframes muncul{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

}


}
